@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

:root{

    --background: #000000;
    --font:  'Titillium Web'    'Roboto';
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


body{
    font-family: var( --font );  
    background-color: var( --background );      
    font-size: 12px;
    
}

.img{
    width: 100%;
}


.topo{
    font-size: 20px;
    width: 100%;
    height: 5em;
    background-color: rgb(0, 0, 0);

}


.content{
    width: 80%;
    height: 50%;
    max-width: 75em;
    margin: auto;

    

}

.content-flex-center{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    
}


.topo img{
    max-width: 21.18em;
}

.menu{
    width: 54em;
}


.menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.menu a{
    text-decoration: none;
    font-size: 1.5emx;
    color: rgb(42, 42, 180);
    font-family: 'Orbitron', sans-serif;
    padding: 0.9em 2em;
    text-transform: uppercase;
}
.menu a:hover{
    background-color: rgb(29, 39, 46);
   
}

.player{
    right: -140px;
    position: relative;
    top: 70px;

}


.banner{
   margin-left: 270px;
   background-color: rgb(0, 0, 0);
   margin-top: 150px;
   
}

.banner p{
    color: rgb(28, 95, 172);
    right: -185px;
    position: relative;
    font-family: 'Orbitron', sans-serif;
    bottom: 50px;
    font-size: 25px;
    max-width: 100%;
}
.gifbanner{
    height: 258px;
    width: 800px;
}
.coin{
    height: 100px;
    width: 44px;
    position: relative;
    left: -152px;
    top: -37;
}


.metal-slug{
    position: relative;
    top: 220px;
    left: -1000px;

}

.slug{
    position: relative;
    right: -800px;
}


.imagem{
background-color: rgb(19, 18, 19);
width: 100%;
height: 112px;

}

.imagem img{
    width: 200px;
    height: 105px;
    position: relative;
    left: 110px;
    margin: 0px 100px 100px;
}

.meio{
    display: flex;
    padding: 0;
    width: 100%;
    height: 300px;
}


.meio p{
    font-family: var( --font );  
    color: rgb(245, 245, 245);
    font-size: 25px;
    position: relative;
    top: 120px;
    right: 10px;
}

.arcade{
    position: relative;
    left: 1000px;
    top: 220px;
}

.controler{
    width: 200px;
    height: 200px;
    position: relative;
    right: 1070px;    
}


.equipes{
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    top: 300px;
    position: relative;
}

.equipes p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    top: -80px;
    position: relative;
    left: 600px;
    color: rgb(19, 44, 114);
}
.equipes img{
    width: 200px;
    height: 105px;
    position: relative;
    left: 180px;
    margin: 0px 25px 100px;
    bottom: 45px;
}

.games{
    width: 100%;
    height: 570px;
    background-color: rgb(17, 17, 17);
    top: 350px;
    position: relative;
}
.games H2{
    font-family: 'Orbitron', sans-serif;
    align-items: center;
    left: 570px;
    position: relative;
    top: 10px;
    color: rgb(38, 83, 119);
    

}

.games img{
    height: 400px;
    width: 600px;
    position: relative;
    right: -100px;
    top: 40px;
    padding: 10px;
}

.score{
    height: 20px;
    width: 50px;


}
.liga{
    width: 100%;
    height: 900px;
    background-color: rgb(0, 0, 0);
}

.liga p{
    font-size: 25px;
    color: rgb(255, 255, 255);
    position: relative;
    top: 550px;
    left: 580px;
    font-family: 'Orbitron', sans-serif;
}


.Squad{
    width: 500px;
    height: 300px;
    position: relative;
    left: 20px;
    top: 300px;
}

#menu-bars{
    display: none;
}

.rodapé{
    width: 100%;
    height: 70px;
    background-color: rgb(0, 0, 0);
}

.rodapé{
    font-size: 20px;
  
}
.rodapé h1{
    position: relative;
    left: 25px;
    top: 150px;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    color: navy;
   font-size: 20px;
}
.rodapé img{
    position: relative;
    left: 500px;
    top: 63px;
}

.yes{
    width: 165px;
    position: relative;
    left: 1217px;
    top: -45;
}


@media screen and (max-width: 768px){

}


@media screen and (max-width: 600px){

}


@media screen and (max-width: 576px){

#menu-bars{
    display: block;
}
}