@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');
*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.topo{
    background-color: brown;
    width: 100%;
    height: 80px;
}
.topo nav{
    width: 100%;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto 0 auto;  
    display: flex;
    justify-content: flex-end;
}


.topo nav a{
     text-decoration: none; /*remove o underline*/
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 15px 30px;


}
.topo nav a:hover{
    background-color: darkred;
}

.topo nav ul{
    width: 90%px;
    max-width: 600px;
    height: 80px;
    
    list-style-type: none; /*remove marcadoes*/
}
#meuslinks{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btnmenu{
    display: none;
}
.banner{
    width: 100%;
    height: 740px;
    background-image: url("../images/imagem-fundo-banner.jpg");
    background-size: cover; 
    background-position: bottom;
    
}

.container{
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: flex-end;
}
.banner_text{
    width: 570px;
    height: 500px;
}
.banner_text h1{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: honeydew;
    text-align:left ;
    padding-bottom: 20px;
}
.banner_text p{
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    color: red;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* sobre */

.bk_sobre{
    width: 100%;
    height: 820px;
    background-color: #040020ee
}

.sobre{
    max-width: 1200px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.sobre h2{
    font-size: 54px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    padding-top: 65px;
    padding-bottom: 65px;
}
.conteudo_sobre{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.conteudo_sobre img{
    width: 491px;
    margin-right: 2em;
  

}
.texto_sobre{
    width: 450px;
    font-family: monospace;
}

.texto_sobre h3{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 44px;
color: yellow;
line-height: 50px;
text-align: justify;
}

.tag{
    font-family: 'Courier New';
    font-size: 24px;
    color: white;

}
.texto_sobre p{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    color: white;
    text-align: justify;
}

.bk_info{
    width: 100%;
    height: 200px;
    background-image: url("../images/imagem-fundo-info.jpg");
    background-size: cover;
}

.info{
    max-width: 1200px;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.027);
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.info_card h3{
    color: white;
    font-size: 24px;
    margin-top: 30px;
}
.info_card p{
    width: 290px;
    color: violet;
    font-size: 28px;
    border: solid 1px;
    text-align: center;
    padding: 1em 0;
}
.endereco{
    width: 100%;
    height: 600px;
    background-image: url("../images/imagem-fundo-ranking.jpg");
    background-size: cover;
    background-position: center;
}
.content{
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: auto;
}
.endereco h2{
    font-size: 54px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: yellow;
    margin: 0 auto;
      

}
.text-endereco{
    width: 1200px;
    height: 220px;
    background-color: rgb(41, 5, 82);
    border:solid 2px #260cceee;
    margin-top: 15px;
    position: relative;
    
}
.text-endereco p{
    color: rgb(193, 109, 235);
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

.alinhando-centro{
    display: flex;
   justify-content: center;
   align-items: center;
}

.text-endereco{
    display: flex;
    justify-content: space-between;
}

.rodape{
    width: 100%;
    height: 80px;
    background-color: rgb(228, 67, 67);
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    position: bottom;
}


.wpp{
    width: 30px;
    position: fixed;
    bottom: 20px;
    right: 0;
}

@media screen and (max-width: 1200px){

    

    .conteudo_sobre img{
        width: 900px;
        margin-bottom: 5em;
    }

    .sobre {
        width: 80%;
    }
    

    .info_card p {
        width: 220px;
    }
    .text-endereco{
    width: 100%;
    max-width: 900px;
}


}
@media screen and (max-width: 767px){

    .btnmenu{
        display: block;
    }

    .topo nav{
        width: 100%;
        
    }
    
    
    .topo nav ul{
        width: 100%;
        max-width: 100%;
        flex-direction: column;
        height: 350px;
        position: absolute;
        top: 60px;
        left: 0;
        display: none;
        background-color: black;
    }




}
